@media only screen and (max-width: 600px) {
    .w-view {
    display: none;
    }
    .d-view {
    display: inline-block;
    }
    }
    /* Media Query for low resolution Tablets, Ipads */
    @media only screen and (min-width: 767px) {
    .w-view {
    display: block;
    }
    .d-view {
    display: none;
    }
    }
    /* Media Query for Tablets Ipads portrait mode */
    @media only screen and (min-width: 600px) {
    .w-view {
    display: block;
    }
    .d-view {
    display: none;
    }
    }
    /* Media Query for Laptops and Desktops */
    @media only screen and (min-width: 1025px) {
    .w-view {
    display: block;
    }
    .d-view {
    display: none;
    }
    }
    .k-drawer-container .k-drawer {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-right-width: 0 !important;
    }
    .k-drawer-container.k-drawer-push .k-drawer {
    position: sticky;
    top: 80px;
    height: calc(100vh - 80px);
    }
    .k-drawer-container .k-drawer-item {
    user-select: none;
    }
    .card-container {
    padding: 40px 0;
    text-align: center;
    }
    .card-container.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 1em;
    }
    .card-container .card-buttons .k-button {
    min-width: 105px;
    }
    .card-container .card-ranges .k-daterangepicker .k-textbox-container, .card-container .card-ranges .k-daterangepicker .k-floating-label-container {
    padding-top: 0;
    min-width: 105px;
    }
    .card-container .card-ranges .k-daterangepicker .k-label {
    display: none;
    }
    .card-container .card-component {
    grid-column: -1;
    overflow: hidden;
    }
    @media (min-width: 480px) {
    .card-container {
    text-align: initial;
    padding: 30px;
    }
    .card-container.grid {
    grid-template-columns: repeat(2, 1fr);
    }
    .card-container .card-title {
    grid-column: 0.5;
    grid-row: 1;
    }
    .card-container .card-buttons {
    text-align: center;
    grid-column: -1;
    grid-row: 2;
    }
    .card-container .card-ranges {
    text-align: right;
    grid-column: 0.6666666667;
    grid-row: 1;
    }
    }
    .header {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 3;
    font-family: 'Times New Roman', Times, serif;
    }
    .header .nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: white;
    }
    .header .menu-button {
    flex: 0 0 50px;
    text-align: center;
    }
    .header .title {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
    }
    .header .k-avatar {
    display: block;
    width: 40px;
    height: 40px;
    flex-basis: 40px;
    margin: 0 25px;
    }
    .header .settings {
    display: none;
    }
    @media (min-width: 480px) {
    .header .title {
    flex-direction: row;
    align-items: center;
    }
    .header .vl {
    height: 25px;
    margin: 6px 15px;
    }
    }
    @media (min-width: 768px) {
    .header .settings {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    }
    .header .k-dropdown {
    max-width: 90px;
    margin-left: 15px;
    }
    }
    .planning-page .card-container {
    grid-template-columns: repeat(1, 1fr);
    }
    .planning-page .card-title {
    grid-column: -1;
    }
    .planning-page .k-hbox {
    padding: 0 20px;
    background: transparent;
    align-items: center;
    }
    .planning-page .k-card-title {
    font-size: 15px;
    margin-bottom: -6px;
    text-align: left;
    }
    .planning-page .k-card-subtitle {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 11px;
    }
    .planning-page .disabled {
    opacity: 0.5;
    }
    @media (min-width: 480px) {
    .planning-page .card-container {
    grid-template-columns: repeat(2, 1fr);
    }
    }
    @media (min-width: 768px) {
    .planning-page .k-hbox {
    padding: 0;
    border-width: 0;
    }
    }
    @media (min-width: 960px) {
    .planning-page .card-container {
    grid-template-columns: repeat(3, 1fr);
    }
    }
    @media (min-width: 1360px) {
    .planning-page .card-container {
    grid-template-columns: repeat(5, 1fr);
    }
    }