
.email-input, .password-input {
    border-style: none;
    border-bottom-style: solid;
    border-radius: 0;
}

.email-input:focus, .password-input:focus {
    border-color: solid;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login {
    width: 100%;
    margin-top: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login h2 {
    margin: 0;
}

.logo img {
    height: 4rem;
    width: 4rem;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
}
